
#vbox{
    -fx-pref-width: 300;
    -fx-pref-height: 400;
}

#hbox{
    -fx-pref-width: 300;
    -fx-pref-height: 60;
}

#title_mgs{
    -fx-pref-width: 300;
    -fx-pref-height: 60;
    -fx-alignment: CENTER;
}

#labels{
    -fx-pref-width: 300;
    -fx-pref-height: 20;
    -fx-alignment: CENTER;
}

#fields{
    -fx-pref-width: 200;
    -fx-pref-height: 30;
    -fx-max-width: 200;
    -fx-max-height: 30;
    -fx-min-width: 200;
    -fx-min-height: 30;
}

#new_btn{
    -fx-pref-width: 80;
    -fx-pref-height: 30;
}

#TipsBox{
    -fx-pref-width: 300;
    -fx-pref-height: 100;
}

#warningLabel{
    -fx-pref-width: 300;
    -fx-pref-height: 70;
    -fx-alignment: CENTER;
}

#tipsBtn{
    -fx-pref-width: 80;
    -fx-pref-height: 25;
}


#regVBox{
    -fx-pref-width: 300;
    -fx-pref-height: 400;
}


#regtitle{
    -fx-pref-width: 300;
    -fx-pref-height: 60;
    -fx-alignment: CENTER;
}

#regLabels{
    -fx-pref-width: 300;
    -fx-pref-height: 25;
    -fx-alignment: CENTER;
}


#regmessage{
    -fx-pref-width: 300;
    -fx-pref-height: 50;
    -fx-alignment: CENTER;
}




#regFields{
    -fx-pref-width: 185;
    -fx-pref-height: 25;
    -fx-max-width: 185;
    -fx-max-height: 25;
    -fx-min-width: 185;
    -fx-min-height: 25;
}






#regHBox{
    -fx-pref-width: 300;
    -fx-pref-height: 30;
}





#regbtn{
    -fx-pref-width: 80;
    -fx-pref-height: 30;
}


