/*
   Author: Hao Li
   Date: 05/21,2019
   Central View CSS
 */
#VB{
    -fx-pref-width: 600;
    -fx-pref-height: 750;
    -fx-background-image: url(/Materials/functionBarbg.jpeg);
    -fx-background-size: 600px 130px;
}


.menu-bar{
    -fx-pref-width: 55;
    -fx-pref-height: 25;
    -fx-border-radius: 15;
    -fx-background-radius: 15;
    -fx-background-color: linear-gradient(rgba(72,200,235,0.5),rgba(135,206,235,0.5));
}

.menu-bar:hover{

    -fx-background-color: linear-gradient(rgba(135,206,235,0.5),rgba(72,200,235,0.5));
}


.menu{
    -fx-pref-width: 55;
    -fx-pref-height: 25;
    -fx-border-radius: 15;
    -fx-background-radius: 15;
    -fx-background-color: linear-gradient(rgba(72,200,235,0.5),rgba(135,206,235,0.5));
}

.menu:hover{

    -fx-background-color: linear-gradient(rgba(135,206,235,0.5),rgba(72,200,235,0.5));
}

.menu .label{
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-text-alignment: CENTER;
}
.menu-item{
    -fx-border-radius: 15;
    -fx-background-radius: 15;
    -fx-background-color: null;
}

.menu-item .label{
    -fx-text-fill: rgba(30,144,255,1);
    -fx-alignment: CENTER;
}

.menu-item:hover{
    -fx-background-color: rgba(245,245,220,0.8);
}

.context-menu{
    -fx-border-radius: 15;
    -fx-background-radius: 15;
    -fx-background-color: rgba(255,248,220,0.8);
    -fx-border-color: rgba(255,210,0,1);
}


#mBox{
    -fx-pref-width: 500;
    -fx-pref-height: 25;
    -fx-background: transparent;
}


#func{
    -fx-pref-width: 500;
    -fx-pref-height: 100;
}

#f_top{
    -fx-pref-width: 500;
    -fx-pref-height: 70;
    -fx-background-color:transparent;
}

#Htop{
    -fx-pref-width: 340;
    -fx-pref-height: 70;
}



#f_bot{
    -fx-pref-width: 500;
    -fx-pref-height: 30;
}

#search{
    -fx-pref-width: 80;
    -fx-pref-height: 35;
    -fx-background-insets: 0,1 1 1 0;
    -fx-background-radius: 15;
    -fx-background-color: linear-gradient(rgb(255,215,0),rgb(255,155,0));
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6), 5, 0.0, 0, 1 );
}
#search:hover {
    -fx-background-color: linear-gradient(rgb(255,155,0), rgb(255,215,0));
}



#viewALl{
    -fx-pref-width: 80;
    -fx-pref-height: 35;
    -fx-background-radius: 15;
    -fx-background-color: linear-gradient(rgb(255,215,0),rgb(255,155,0));
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6), 5, 0.0, 0, 1 );
}
#viewALl:hover{
    -fx-background-color: linear-gradient(rgb(255,155,0), rgb(255,215,0));
}



#s_field{
    -fx-pref-width: 280;
    -fx-pref-height: 35;
    -fx-min-height: 35;
    -fx-max-height: 35;
    -fx-border-radius: 15;
    -fx-background-insets: 0,0 0 0 0;
    -fx-border-insets:  0,0 0 0 0;
    -fx-background-color: rgba(255,228,181,0.5);
    -fx-background-radius: 15 ;
    -fx-alignment: Center;
    -fx-font-size: 18px;
    -fx-font-weight: BOLD;
    -fx-text-fill: rgba(0,0,0,1);

}

#s_field:focused{
    -fx-background-color: rgba(255,255,255,0.8);
}



#page{
    -fx-pref-width: 40;
    -fx-pref-height: 25;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-background-color: linear-gradient(#87cefa,#00ff7f);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6), 5, 0.0, 0, 1 );
}
#page:hover{
    -fx-background-color: linear-gradient(#00ff7f,#87cefa);
}

#LVP{
    -fx-pref-width: 500;
    -fx-pref-height: 623;
    -fx-background-image: url(/Materials/displaybg.jpeg);
    -fx-background-size: 600px 625px;


}
#title{
    -fx-pref-width: 500;
    -fx-pref-height: 35;
}

#titleHBox{
    -fx-pref-width: 500;
    -fx-pref-height: 30;
}


#titleSeparator{
    -fx-pref-width: 544;
    -fx-pref-height: 5;
    -fx-max-width: 544;
}


.separator .line{
    -fx-border-color: rgb(100,149,237);
    -fx-border-width: 2;
}

#title_element{
    -fx-pref-width: 125;
    -fx-pref-height: 25;
    -fx-alignment: CENTER;
    -fx-text-fill: rgba(0,0,0,1);
    -fx-font-weight: BOLD;
    -fx-font-size: 15px;
}



#displayBox{
    -fx-pref-width: 600;
    -fx-pref-height: 445;
}



#LinePane{
    -fx-pref-width: 500;
    -fx-pref-height: 30;
}

#line_area{
    -fx-pref-width: 150;
    -fx-pref-height: 25;
    -fx-max-height: 25;
    -fx-min-height: 25;
    -fx-wrap-text: true;
}



#lineSeparator{
    -fx-pref-width: 10;
    -fx-pref-height: 40;
    -fx-max-width: 10;
    -fx-max-height: 40;
}


#view_delete{
    -fx-text-alignment: CENTER;
    -fx-pref-width: 30;
    -fx-pref-height: 25;
    -fx-background-radius: 15;
    -fx-font-weight: bold;
    -fx-font-size: 18px;
    -fx-text-fill: red;
    -fx-background-color: null;

}
